# Dependencies
node_modules/

# Production build output
dist/

# Environment variables (SANGAT PENTING: JANGAN DI-PUSH KE GITHUB)
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor & OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
